Repository RuleIQ-Vercel-Deploy/ruleIQ, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ruleiq/engineering, @ruleiq/backend-team, @ruleiq/api-team, @ruleiq/database-team, @ruleiq/ai-team, @ruleiq/security-team, @ruleiq/devops-team, @ruleiq/frontend-team, @ruleiq/ui-team, @ruleiq/design-team, @ruleiq/data-team, @ruleiq/compliance-team, @ruleiq/engineering-leads, @ruleiq/qa-team, @ruleiq/documentation-team, @ruleiq/legal

chore: cleanup and miscellaneous improvements
  .claude/serena-session.flag
  .claude/serena-status.json
  .claude/verification-complete.json
  .codacy/cli.sh
  .codacy/codacy.yaml
  .gcloudignore
  .github/instructions/codacy.instructions.md
  .kilocode/mcp.json
  activate-env.sh
  api/clients/aws_client.py
  api/main.py
  app/core/monitoring/middleware.py
  docs/CLOUD_RUN_TROUBLESHOOTING.md
  fix_imports.py
  langgraph_agent/graph/app.py
  middleware/rate_limiter.py
  package.json
  setup-venv.sh
Owners: @ruleiq/engineering, @ruleiq/qa-team, @ruleiq/devops-team, @ruleiq/documentation-team, @ruleiq/backend-team

fix: implement verification comments and security improvements
  .claude/serena-session.flag
  .claude/serena-status.json
  .claude/verification-complete.json
  .github/workflows/security.yml
  api/main.py
  api/middleware/rate_limiter.py
  api/middleware/security_headers.py
  api/routers/__init__.py
  config/settings.py
  database/__init__.py
  database/db_setup.py
  switch-to-local.sh
Owners: @ruleiq/engineering, @ruleiq/devops-team, @ruleiq/engineering-leads, @ruleiq/backend-team, @ruleiq/security-team, @ruleiq/api-team

optimize: Update .dockerignore to exclude .venv and reduce Docker build size from 485MB to <50MB
  .dockerignore
Owners: @ruleiq/devops-team

fix: Add missing async database dependencies and lazy initialization
  config/cloud_run.py
  database/db_setup.py
  requirements-cloudrun.txt
Owners: @ruleiq/devops-team, @ruleiq/security-team, @ruleiq/backend-team

fix: Remove SQLite fallback - use actual Neon and Neo4j from environment
  config/cloud_run.py
Owners: @ruleiq/devops-team, @ruleiq/security-team

fix: Pin GitHub Actions to specific commit SHAs for security compliance
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Update Doppler action to correct commit SHA
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Use service account key authentication instead of WIF
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Add step to extract project ID from authenticated session
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Switch from Artifact Registry to Container Registry (GCR)
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Enable required GCP APIs before deployment
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Make API enabling non-blocking - continue if already enabled
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Make Secret Manager API enabling non-blocking
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Remove duplicate DOPPLER_ENVIRONMENT variable
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Remove duplicate ENVIRONMENT variable from env vars
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Pin GitHub Actions to full commit SHAs for security compliance
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

feat: Add production deployment configuration
  .github/workflows/deploy-gcp-doppler.yml
  Dockerfile.production
  WARP.md
  constraints.txt
  deploy_production.sh
  diagnose_cloud_run.sh
  production_start.py
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads, @ruleiq/documentation-team, @ruleiq/engineering, @ruleiq/backend-team

[RECOVERY] Add missing frontend pages and config from Cloud Build
  frontend/app/advanced-dashboard/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/pnpm-lock.yaml
  frontend/vercel.json
Owners: @ruleiq/frontend-team, @ruleiq/devops-team

[RECOVERY] Revert marketing/auth/freemium/assessment/chat/dashboard pages to 24-Sept design
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/app/(public)/freemium/assessment/page.tsx
  frontend/app/assessment/page.tsx
  frontend/app/assessment/results/[token]/client.tsx
  frontend/app/assessment/results/[token]/layout.tsx
  frontend/app/assessment/results/[token]/page.tsx
  frontend/app/dashboard-2/page.tsx
  frontend/app/page.tsx
Owners: @ruleiq/frontend-team

Remove duplicate dashboard group files causing route conflict
  frontend/app/(dashboard)/dashboard/page-server.tsx
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/app/(dashboard)/dashboard/page.tsx.backup
Owners: @ruleiq/frontend-team

[ROUTES] Deprecate legacy auth pages; use new group-based auth
  frontend/app/_deprecated/auth-legacy/callback/page.tsx
  frontend/app/_deprecated/auth-legacy/layout.tsx
  frontend/app/_deprecated/auth-legacy/sign-in/page.tsx
  frontend/app/_deprecated/auth-legacy/sign-up/page.tsx
Owners: @ruleiq/frontend-team

[RECOVERY] Restore routed auth pages (page.tsx) from b224a852f6c8989689e2c04e8cfecae3a2c7e3bd (pre-2025-09-23)
  frontend/app/auth/callback/page.tsx
Owners: @ruleiq/frontend-team

[ROUTES] Remove incorrect auth pages (login/signup and legacy aliases)
  frontend/app/(auth)/login/page.tsx
  frontend/app/(auth)/signup/page.tsx
Owners: @ruleiq/frontend-team

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

docs: Update documentation to reference new CI/CD workflows
  README.md
  docs/TESTING_GUIDE.md
Owners: @ruleiq/engineering-leads, @ruleiq/documentation-team

docs: Update coverage baseline with real metrics and complete documentation
  README.md
  docs/CI_CD_GUIDE.md
  docs/COVERAGE_BASELINE.md
  docs/TESTING_GUIDE.md
  docs/coverage-baseline.json
Owners: @ruleiq/engineering-leads, @ruleiq/documentation-team, @ruleiq/engineering

[COVERAGE] Regenerate baseline with real metrics from existing coverage data
  api/routers/auth.py
  docs/COVERAGE_BASELINE.md
  docs/coverage-baseline.json
  pytest.ini
  scripts/generate_coverage_baseline.py
Owners: @ruleiq/api-team, @ruleiq/backend-team, @ruleiq/documentation-team, @ruleiq/engineering, @ruleiq/devops-team

Add Claude Code GitHub Workflow (#134)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

feat: Add Neo4j keep-alive workflow to prevent auto-pause
  .github/workflows/neo4j-keepalive.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: Pin GitHub Actions to commit SHAs for security compliance
  .github/workflows/neo4j-keepalive.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

.github/CODEOWNERS:

# RuleIQ Code Owners
# This file defines who should review code changes to different parts of the codebase
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
* @ruleiq/engineering

# Backend - Python/FastAPI
/api/ @ruleiq/backend-team @ruleiq/api-team
/services/ @ruleiq/backend-team
/database/ @ruleiq/backend-team @ruleiq/database-team
/langgraph_agent/ @ruleiq/ai-team @ruleiq/backend-team
/middleware/ @ruleiq/backend-team @ruleiq/security-team
/requirements*.txt @ruleiq/backend-team @ruleiq/devops-team
/alembic/ @ruleiq/database-team
*.py @ruleiq/backend-team

# Frontend - Next.js/React
/frontend/ @ruleiq/frontend-team
/frontend/src/components/ @ruleiq/frontend-team @ruleiq/ui-team
/frontend/src/app/ @ruleiq/frontend-team
/frontend/src/lib/ @ruleiq/frontend-team
/frontend/src/hooks/ @ruleiq/frontend-team
/frontend/src/styles/ @ruleiq/frontend-team @ruleiq/ui-team
/frontend/public/ @ruleiq/frontend-team @ruleiq/design-team
/frontend/package*.json @ruleiq/frontend-team @ruleiq/devops-team
/frontend/pnpm-lock.yaml @ruleiq/frontend-team @ruleiq/devops-team
/frontend/tsconfig.json @ruleiq/frontend-team
/frontend/next.config.* @ruleiq/frontend-team @ruleiq/devops-team
/frontend/.env* @ruleiq/frontend-team @ruleiq/security-team

# Visualization Backend
/visualization-backend/ @ruleiq/data-team @ruleiq/backend-team

# AI and ML Components
/services/ai/ @ruleiq/ai-team
/services/agents/ @ruleiq/ai-team @ruleiq/backend-team
/services/compliance/ @ruleiq/compliance-team @ruleiq/ai-team
/services/knowledge_graph/ @ruleiq/ai-team @ruleiq/data-team

# Security-sensitive files
/api/auth.py @ruleiq/security-team @ruleiq/backend-team
/api/dependencies/auth.py @ruleiq/security-team
/api/dependencies/rbac_auth.py @ruleiq/security-team
/api/middleware/security*.py @ruleiq/security-team
/api/middleware/jwt*.py @ruleiq/security-team
/services/auth_service.py @ruleiq/security-team
/services/security/ @ruleiq/security-team
/.env* @ruleiq/security-team @ruleiq/devops-team
/config/ @ruleiq/devops-team @ruleiq/security-team

# Infrastructure and DevOps
/.github/ @ruleiq/devops-team @ruleiq/engineering-leads
/.github/workflows/ @ruleiq/devops-team @ruleiq/engineering-leads
/Dockerfile* @ruleiq/devops-team
/docker-compose*.yml @ruleiq/devops-team
/vercel.json @ruleiq/devops-team @ruleiq/frontend-team
/.dockerignore @ruleiq/devops-team
/scripts/ @ruleiq/devops-team @ruleiq/engineering

# Testing
/tests/ @ruleiq/qa-team @ruleiq/backend-team
/frontend/__tests__/ @ruleiq/qa-team @ruleiq/frontend-team
/frontend/e2e/ @ruleiq/qa-team @ruleiq/frontend-team
/frontend/cypress/ @ruleiq/qa-team @ruleiq/frontend-team
/frontend/playwright/ @ruleiq/qa-team @ruleiq/frontend-team
*test*.py @ruleiq/qa-team
*.test.ts @ruleiq/qa-team @ruleiq/frontend-team
*.test.tsx @ruleiq/qa-team @ruleiq/frontend-team
*.spec.ts @ruleiq/qa-team @ruleiq/frontend-team
*.spec.tsx @ruleiq/qa-team @ruleiq/frontend-team

# Documentation
/docs/ @ruleiq/documentation-team @ruleiq/engineering
*.md @ruleiq/documentation-team
/README.md @ruleiq/engineering-leads @ruleiq/documentation-team
/CONTRIBUTING.md @ruleiq/engineering-leads
/LICENSE @ruleiq/legal @ruleiq/engineering-leads

# Configuration files (require careful review)
/.gitignore @ruleiq/engineering-leads
/.gitattributes @ruleiq/engineering-leads
/pyproject.toml @ruleiq/backend-team @ruleiq/engineering-leads
/setup.py @ruleiq/backend-team @ruleiq/engineering-leads
/setup.cfg @ruleiq/backend-team @ruleiq/engineering-leads
/.pre-commit-config.yaml @ruleiq/engineering
/.editorconfig @ruleiq/engineering

# CI/CD and quality tools configuration
/.bandit @ruleiq/security-team @ruleiq/backend-team
/.codacy* @ruleiq/qa-team @ruleiq/devops-team
/.gitleaks* @ruleiq/security-team
/sonar-project.properties @ruleiq/qa-team @ruleiq/devops-team
/.ruff.toml @ruleiq/backend-team
/.flake8 @ruleiq/backend-team
/.pylintrc @ruleiq/backend-team
/frontend/.eslintrc* @ruleiq/frontend-team
/frontend/.prettierrc* @ruleiq/frontend-team

# Database migrations (critical changes)
/database/migrations/ @ruleiq/database-team @ruleiq/backend-team @ruleiq/engineering-leads
/alembic/versions/ @ruleiq/database-team @ruleiq/backend-team @ruleiq/engineering-leads

# API route changes (require API team review)
/api/routers/ @ruleiq/api-team @ruleiq/backend-team

# Compliance and regulatory components
/api/routers/uk_compliance.py @ruleiq/compliance-team @ruleiq/legal
/services/compliance/uk_compliance*.py @ruleiq/compliance-team @ruleiq/legal
/services/compliance/gdpr*.py @ruleiq/compliance-team @ruleiq/legal
