Repository RuleIQ-Vercel-Deploy/ruleIQ, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ruleiq/engineering, @ruleiq/backend-team, @ruleiq/api-team, @ruleiq/database-team, @ruleiq/ai-team, @ruleiq/security-team, @ruleiq/devops-team, @ruleiq/frontend-team, @ruleiq/ui-team, @ruleiq/design-team, @ruleiq/data-team, @ruleiq/compliance-team, @ruleiq/engineering-leads, @ruleiq/qa-team, @ruleiq/documentation-team, @ruleiq/legal

feat: Add comprehensive deployment modules and orchestration
  Makefile
  deployment/README.md
  deployment/deployment_orchestrator.py
  deployment/docker_deployment.py
  deployment/environment_validator.py
  deployment/full_app_test.py
  deployment/pre_deployment_checklist.py
  deployment/rollback.py
  scripts/run_full_deployment_test.py
Owners: @ruleiq/engineering, @ruleiq/documentation-team, @ruleiq/backend-team, @ruleiq/qa-team

Remove quality gate and coverage badges from README
  README.md
Owners: @ruleiq/engineering-leads, @ruleiq/documentation-team

refactor(services/ai/evaluation/tools): enhance ingestion pipeline with batch processing and error handling
  services/ai/evaluation/tools/ingestion_fixed.py
  services/ai/evaluation/tools/test_ingestion_fixed.py
  services/compliance_graph_initializer.py
Owners: @ruleiq/ai-team, @ruleiq/qa-team, @ruleiq/backend-team

feat: Add Doppler-based Vercel deployment workflow and fix deployment script
  .github/workflows/deploy-vercel-doppler.yml
  scripts/deploy/execute-org-deployment.py
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads, @ruleiq/engineering

feat: implement automated rollback for failed production deployments
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: correct sed command syntax in rollback workflow
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: remove invalid secrets reference in workflow job condition
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: use stable version tag for Doppler CLI action
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: correct Doppler production config name from 'production' to 'prd'
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: correct Doppler staging config name from 'staging' to 'stg'
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: complete Vercel deployment workflow with proper token handling
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: use correct Vercel CLI authentication with --token flag
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: properly escape VERCEL_TOKEN for Doppler environment injection
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: use sh -c wrapper for Vercel CLI commands with Doppler
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: correct Python runtime version format in vercel.json
  vercel.json
Owners: @ruleiq/devops-team, @ruleiq/frontend-team

fix: use Python 3.9 runtime as Vercel only supports 3.9 and 3.12
  vercel.json
Owners: @ruleiq/devops-team, @ruleiq/frontend-team

fix: remove explicit Python runtime version to let Vercel auto-detect
  vercel.json
Owners: @ruleiq/devops-team, @ruleiq/frontend-team

fix: switch to builds configuration for Python deployment
  vercel.json
Owners: @ruleiq/devops-team, @ruleiq/frontend-team

fix: add --archive=tgz flag to handle large file count
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: accept 401 as valid response for health check
  .github/workflows/deploy-vercel-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: optimize .vercelignore to reduce serverless function size
  .vercelignore
Owners: @ruleiq/engineering

fix: create minimal requirements for Vercel deployment
  requirements-vercel.txt
  vercel.json
Owners: @ruleiq/backend-team, @ruleiq/devops-team, @ruleiq/frontend-team

fix: let Vercel build on their servers without prebuilt artifacts
  .github/workflows/deploy-vercel-doppler.yml
  .vercelignore
  vercel.json
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads, @ruleiq/engineering, @ruleiq/frontend-team

fix: aggressive cleanup and exclusion of non-essential files
  .github/workflows/deploy-vercel-doppler.yml
  .vercelignore
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads, @ruleiq/engineering

fix: correct startup script for Google Cloud Run
  Dockerfile
  start.sh
Owners: @ruleiq/devops-team, @ruleiq/engineering

fix: resolve Cloud Run deployment issues
  Dockerfile
  api/main.py
  cloud-run-service.yaml
  cloudbuild.yaml
  deploy-cloud-run.sh
  start.sh
Owners: @ruleiq/devops-team, @ruleiq/backend-team, @ruleiq/engineering

fix: add missing asyncpg dependency for async PostgreSQL connections
  requirements.txt
Owners: @ruleiq/backend-team, @ruleiq/devops-team

feat: integrate Doppler with Google Cloud Run deployment
  .github/workflows/deploy-cloud-run-doppler.yml
  scripts/deploy/sync-doppler-to-gcp.sh
  sync-doppler-secrets.sh
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads, @ruleiq/engineering

trigger: add missing GitHub Actions workflow for Doppler deployment
  .github/workflows/deploy-gcp-doppler.yml
Owners: @ruleiq/devops-team, @ruleiq/engineering-leads

fix: add missing python-json-logger dependency
  requirements.txt
Owners: @ruleiq/backend-team, @ruleiq/devops-team

fix: add ALL missing dependencies to requirements.txt
  requirements.txt
Owners: @ruleiq/backend-team, @ruleiq/devops-team

fix: resolve typing-extensions dependency conflict
  requirements.txt
Owners: @ruleiq/backend-team, @ruleiq/devops-team

docs: standardize backend entrypoint to uvicorn api.main:app
  .claude/serena-session.flag
  .claude/serena-status.json
  .claude/verification-complete.json
  DOPPLER_NEO4J_MIGRATION.md
  Dockerfile
  NEO4J_AURADB_MIGRATION_SUMMARY.md
  Procfile
  README.md
  api/dependencies/auth.py
  api/main.py
  cloudbuild.yaml
  config/settings.py
  constraints.txt
  deploy-cloud-run.sh
  deploy-with-doppler.sh
  docs/CLOUD_RUN_TROUBLESHOOTING.md
  docs/gcp-setup-guide.md
  main.py
  package.json
  railway.json
  requirements-cloudrun.txt
  requirements.txt
  scripts/deploy/configure-doppler-secrets.sh
  scripts/deploy/doppler-setup.sh
  scripts/deploy/setup-gcp-service-account.sh
  scripts/doppler-neo4j-configure.sh
  scripts/doppler-neo4j-setup.sh
  scripts/load-golden-dataset.py
  scripts/test-neo4j-connection.sh
  tests/performance/README.md
  tests/test_phase1_endpoints.py
Owners: @ruleiq/engineering, @ruleiq/documentation-team, @ruleiq/devops-team, @ruleiq/engineering-leads, @ruleiq/security-team, @ruleiq/backend-team, @ruleiq/qa-team

fix: implement verification comments for production resilience
  api/main.py
  api/middleware/error_handler.py
  api/routers/__init__.py
  config/ai_config.py
  database/__init__.py
Owners: @ruleiq/backend-team, @ruleiq/api-team, @ruleiq/devops-team, @ruleiq/security-team

fix: improve API middleware and authentication
  api/dependencies/auth.py
  api/middleware/ai_rate_limiter.py
  api/middleware/api_key_auth.py
  api/middleware/cost_tracking.py
  api/middleware/error_handler.py
  api/middleware/rate_limiter.py
  api/middleware/redis_rate_limiter.py
  api/middleware/security_headers.py
  api/utils/security_validation.py
Owners: @ruleiq/security-team, @ruleiq/backend-team

fix: enhance database setup and configuration
  config/settings.py
  database/db_setup.py
Owners: @ruleiq/devops-team, @ruleiq/security-team, @ruleiq/backend-team

feat: enhance Cloud Run deployment configuration
  Dockerfile
  cloudbuild.yaml
  deploy-cloud-run.sh
  requirements-cloudrun.txt
Owners: @ruleiq/devops-team, @ruleiq/engineering, @ruleiq/backend-team

fix: improve AI services and evaluation tools
  services/agents/approval/workflow.py
  services/ai/cost_management.py
  services/ai/evaluation/tools/ingestion_fixed.py
  services/ai/offline_mode.py
  services/ai/performance_optimizer.py
Owners: @ruleiq/ai-team, @ruleiq/backend-team

fix: enhance API routers and imports
  api/index.py
  api/routers/__init__.py
  api/routers/ai_assessments.py
  api/routers/ai_cost_monitoring.py
  api/routers/auth.py
  api/routers/test_utils.py
Owners: @ruleiq/backend-team, @ruleiq/api-team

feat: add new integration modules
  api/dependencies/file_handling.py
  api/integrations/base.py
  api/integrations/google_workspace.py
Owners: @ruleiq/backend-team

.github/CODEOWNERS:

# RuleIQ Code Owners
# This file defines who should review code changes to different parts of the codebase
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
* @ruleiq/engineering

# Backend - Python/FastAPI
/api/ @ruleiq/backend-team @ruleiq/api-team
/services/ @ruleiq/backend-team
/database/ @ruleiq/backend-team @ruleiq/database-team
/langgraph_agent/ @ruleiq/ai-team @ruleiq/backend-team
/middleware/ @ruleiq/backend-team @ruleiq/security-team
/requirements*.txt @ruleiq/backend-team @ruleiq/devops-team
/alembic/ @ruleiq/database-team
*.py @ruleiq/backend-team

# Frontend - Next.js/React
/frontend/ @ruleiq/frontend-team
/frontend/src/components/ @ruleiq/frontend-team @ruleiq/ui-team
/frontend/src/app/ @ruleiq/frontend-team
/frontend/src/lib/ @ruleiq/frontend-team
/frontend/src/hooks/ @ruleiq/frontend-team
/frontend/src/styles/ @ruleiq/frontend-team @ruleiq/ui-team
/frontend/public/ @ruleiq/frontend-team @ruleiq/design-team
/frontend/package*.json @ruleiq/frontend-team @ruleiq/devops-team
/frontend/pnpm-lock.yaml @ruleiq/frontend-team @ruleiq/devops-team
/frontend/tsconfig.json @ruleiq/frontend-team
/frontend/next.config.* @ruleiq/frontend-team @ruleiq/devops-team
/frontend/.env* @ruleiq/frontend-team @ruleiq/security-team

# Visualization Backend
/visualization-backend/ @ruleiq/data-team @ruleiq/backend-team

# AI and ML Components
/services/ai/ @ruleiq/ai-team
/services/agents/ @ruleiq/ai-team @ruleiq/backend-team
/services/compliance/ @ruleiq/compliance-team @ruleiq/ai-team
/services/knowledge_graph/ @ruleiq/ai-team @ruleiq/data-team

# Security-sensitive files
/api/auth.py @ruleiq/security-team @ruleiq/backend-team
/api/dependencies/auth.py @ruleiq/security-team
/api/dependencies/rbac_auth.py @ruleiq/security-team
/api/middleware/security*.py @ruleiq/security-team
/api/middleware/jwt*.py @ruleiq/security-team
/services/auth_service.py @ruleiq/security-team
/services/security/ @ruleiq/security-team
/.env* @ruleiq/security-team @ruleiq/devops-team
/config/ @ruleiq/devops-team @ruleiq/security-team

# Infrastructure and DevOps
/.github/ @ruleiq/devops-team @ruleiq/engineering-leads
/.github/workflows/ @ruleiq/devops-team @ruleiq/engineering-leads
/Dockerfile* @ruleiq/devops-team
/docker-compose*.yml @ruleiq/devops-team
/vercel.json @ruleiq/devops-team @ruleiq/frontend-team
/.dockerignore @ruleiq/devops-team
/scripts/ @ruleiq/devops-team @ruleiq/engineering

# Testing
/tests/ @ruleiq/qa-team @ruleiq/backend-team
/frontend/__tests__/ @ruleiq/qa-team @ruleiq/frontend-team
/frontend/e2e/ @ruleiq/qa-team @ruleiq/frontend-team
/frontend/cypress/ @ruleiq/qa-team @ruleiq/frontend-team
/frontend/playwright/ @ruleiq/qa-team @ruleiq/frontend-team
*test*.py @ruleiq/qa-team
*.test.ts @ruleiq/qa-team @ruleiq/frontend-team
*.test.tsx @ruleiq/qa-team @ruleiq/frontend-team
*.spec.ts @ruleiq/qa-team @ruleiq/frontend-team
*.spec.tsx @ruleiq/qa-team @ruleiq/frontend-team

# Documentation
/docs/ @ruleiq/documentation-team @ruleiq/engineering
*.md @ruleiq/documentation-team
/README.md @ruleiq/engineering-leads @ruleiq/documentation-team
/CONTRIBUTING.md @ruleiq/engineering-leads
/LICENSE @ruleiq/legal @ruleiq/engineering-leads

# Configuration files (require careful review)
/.gitignore @ruleiq/engineering-leads
/.gitattributes @ruleiq/engineering-leads
/pyproject.toml @ruleiq/backend-team @ruleiq/engineering-leads
/setup.py @ruleiq/backend-team @ruleiq/engineering-leads
/setup.cfg @ruleiq/backend-team @ruleiq/engineering-leads
/.pre-commit-config.yaml @ruleiq/engineering
/.editorconfig @ruleiq/engineering

# CI/CD and quality tools configuration
/.bandit @ruleiq/security-team @ruleiq/backend-team
/.codacy* @ruleiq/qa-team @ruleiq/devops-team
/.gitleaks* @ruleiq/security-team
/sonar-project.properties @ruleiq/qa-team @ruleiq/devops-team
/.ruff.toml @ruleiq/backend-team
/.flake8 @ruleiq/backend-team
/.pylintrc @ruleiq/backend-team
/frontend/.eslintrc* @ruleiq/frontend-team
/frontend/.prettierrc* @ruleiq/frontend-team

# Database migrations (critical changes)
/database/migrations/ @ruleiq/database-team @ruleiq/backend-team @ruleiq/engineering-leads
/alembic/versions/ @ruleiq/database-team @ruleiq/backend-team @ruleiq/engineering-leads

# API route changes (require API team review)
/api/routers/ @ruleiq/api-team @ruleiq/backend-team

# Compliance and regulatory components
/api/routers/uk_compliance.py @ruleiq/compliance-team @ruleiq/legal
/services/compliance/uk_compliance*.py @ruleiq/compliance-team @ruleiq/legal
/services/compliance/gdpr*.py @ruleiq/compliance-team @ruleiq/legal
